body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#1a0033,#4b0082,#0088ff);
color:white;
text-align:center;
}

header{
padding:40px;
}

header h1{
font-size:50px;
}

.buttons{
margin:30px;
}

button{
padding:12px 20px;
margin:10px;
border:none;
border-radius:10px;
background:#000;
color:white;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

button:hover{
background:#ff4fd8;
transform:scale(1.1);
}

.content{
display:none;
max-width:800px;
margin:auto;
padding:30px;
background:rgba(0,0,0,0.5);
border-radius:15px;
}
